@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--Cream);
}
.card {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--White);
  display: flex;
  border-radius: 0.5rem;
  width: 600px;
}
.preview {
  width: 300px;
  height: auto;
  position: relative;
  border-radius: 0.5rem 0 0 0.5rem;
}
.preview img {
  width: auto;
  width: 300px;
  min-height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
}
.content {
  width: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.content .title {
  font-family: "Fraunces", serif;
  font-weight: 700;
}
.product-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 500;
  font-size: 12px;
  color: var(--Dark-grayish-blue);
}
.info {
  color: var(--Dark-grayish-blue);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
}
.price {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price h2 {
  font-size: 32px;
  font-family: "Fraunces", serif;
  color: var(--Dark-cyan);
}
.price del {
  text-decoration: line-through;
  color: var(--Dark-grayish-blue);
  font-size: 14px;
  margin-left: 1.5rem;
}
.btn {
  width: 100%;
  background-color: var(--Dark-cyan);
  padding: 15px;
  border: none;
  color: var(--White);
  font-size: 16px;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}
.btn:hover {
  background-color: var(--Very-dark-blue);
}

@media screen and (max-width: 641px) {
  .card {
    flex-direction: column;
    max-width: 375px;
    width: 100%;
    justify-content: center;
  }
  .content {
    width: 100%;
    max-width: 325px;
    height: auto;
    gap: 1rem;
  }
  .preview {
    width: 100%;
  }
  .preview img {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .btn {
    max-width: 375px;
    width: 100%;
  }
}
